<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.21.6" targetFramework="net48" />
  <package id="Grpc" version="2.46.3" targetFramework="net48" />
  <package id="Grpc.Core" version="2.46.3" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.46.3" targetFramework="net48" />
  <package id="Mapster" version="7.3.0" targetFramework="net48" />
  <package id="Mapster.Core" version="1.2.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NLog" version="4.7.15" targetFramework="net48" />
  <package id="protobuf-net" version="2.3.15" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net48" />
  <package id="YamlDotNet" version="6.0.0" targetFramework="net48" />
</packages>